body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
   
    padding: 10px;
    display: inline-block;
}

footer {
    margin-top: 20px;
    color: #777;
}
